USE [master]
GO
/****** Object:  Database [DW_Ventas]    Script Date: 07/09/2019 0:42:07 ******/
CREATE DATABASE [DW_Ventas]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'DW_Ventas', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL11.MSSQLSERVER\MSSQL\DATA\DW_Ventas.mdf' , SIZE = 5120KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'DW_Ventas_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL11.MSSQLSERVER\MSSQL\DATA\DW_Ventas_log.ldf' , SIZE = 1024KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [DW_Ventas].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [DW_Ventas]
GO
/****** Object:  Table [dbo].[D_Cliente]    Script Date: 07/09/2019 0:42:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[D_Cliente](
	[id_cliente] [int] NOT NULL,
	[nombre] [nchar](20) NULL,
 CONSTRAINT [PK_D_Cliente] PRIMARY KEY CLUSTERED 
(
	[id_cliente] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[D_Tiempo]    Script Date: 07/09/2019 0:42:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[D_Tiempo](
	[id_Tiempo] [int] NOT NULL,
	[mes] [int] NULL,
	[año] [int] NULL,
	[dia] [int] NULL,
 CONSTRAINT [PK_D_Tiempo] PRIMARY KEY CLUSTERED 
(
	[id_Tiempo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[D_Vendedor]    Script Date: 07/09/2019 0:42:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[D_Vendedor](
	[id_vendedor] [int] NOT NULL,
	[nombre] [nchar](20) NULL,
 CONSTRAINT [PK_D_Vendedor] PRIMARY KEY CLUSTERED 
(
	[id_vendedor] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[D_Zapatillas]    Script Date: 07/09/2019 0:42:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[D_Zapatillas](
	[id_zapatilla] [int] NOT NULL,
	[modelo] [nchar](10) NULL,
	[precio] [float] NULL,
 CONSTRAINT [PK_D_Zapatillas] PRIMARY KEY CLUSTERED 
(
	[id_zapatilla] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[H_Venta]    Script Date: 07/09/2019 0:42:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[H_Venta](
	[id_Ventas] [int] IDENTITY(1,1) NOT NULL,
	[id_Tiempo] [int] NULL,
	[id_Zapatilla] [int] NULL,
	[id_Vendedor] [int] NULL,
	[id_Cliente] [int] NULL,
	[cantidad_Venta] [int] NULL,
	[monto_Venta] [int] NULL,
 CONSTRAINT [PK_H_Venta] PRIMARY KEY CLUSTERED 
(
	[id_Ventas] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
ALTER TABLE [dbo].[H_Venta]  WITH CHECK ADD  CONSTRAINT [FK_H_Venta_D_Cliente] FOREIGN KEY([id_Cliente])
REFERENCES [dbo].[D_Cliente] ([id_cliente])
GO
ALTER TABLE [dbo].[H_Venta] CHECK CONSTRAINT [FK_H_Venta_D_Cliente]
GO
ALTER TABLE [dbo].[H_Venta]  WITH CHECK ADD  CONSTRAINT [FK_H_Venta_D_Tiempo] FOREIGN KEY([id_Tiempo])
REFERENCES [dbo].[D_Tiempo] ([id_Tiempo])
GO
ALTER TABLE [dbo].[H_Venta] CHECK CONSTRAINT [FK_H_Venta_D_Tiempo]
GO
ALTER TABLE [dbo].[H_Venta]  WITH CHECK ADD  CONSTRAINT [FK_H_Venta_D_Vendedor] FOREIGN KEY([id_Vendedor])
REFERENCES [dbo].[D_Vendedor] ([id_vendedor])
GO
ALTER TABLE [dbo].[H_Venta] CHECK CONSTRAINT [FK_H_Venta_D_Vendedor]
GO
ALTER TABLE [dbo].[H_Venta]  WITH CHECK ADD  CONSTRAINT [FK_H_Venta_D_Zapatillas] FOREIGN KEY([id_Zapatilla])
REFERENCES [dbo].[D_Zapatillas] ([id_zapatilla])
GO
ALTER TABLE [dbo].[H_Venta] CHECK CONSTRAINT [FK_H_Venta_D_Zapatillas]
GO
ALTER TABLE [dbo].[H_Venta]  WITH CHECK ADD  CONSTRAINT [FK_H_Venta_H_Venta] FOREIGN KEY([id_Ventas])
REFERENCES [dbo].[H_Venta] ([id_Ventas])
GO
ALTER TABLE [dbo].[H_Venta] CHECK CONSTRAINT [FK_H_Venta_H_Venta]
GO
USE [master]
GO
